header {
	background-color: #fff;

	.item {
		height: 48px;

		img {
			width: 24px;

			&.logo {
				margin-right: 8px;
			}
		}

		.menu {
			list-style-type: none;

			li {
				margin-left: 32px;
				font-size: 14px;
				color: #939393;
			}
		}
	}
}
