.search-area {
	background-image: url('../assets/el-capitan.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	.search-box {
		text-align: center;
		height: calc(100vh - 48px);
		transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);

		&.reduce {
			height: 320px;
		}

		.search {
			background-color: #fff;
			border-radius: 4px;
			width: 100%;

			input {
				margin-left: 8px;
				width: 100%;
				font-size: 16px;
				line-height: 24px;
				background-color: transparent;
				border: none;
			}

			img {
				margin-right: 8px;
			}
		}

		.search-button {
			width: 100%;
			padding: 8px;
			border: none;
			background-color: #09249e;
			border-radius: 4px;
			font-size: 14px;
			font-weight: 500;
			color: #fff;
			text-decoration: none;
		}
	}
}
